.clr .picbox
{
    width: auto;
    height: auto;
    overflow: hidden;
}
.ice ul
{
    width: auto;
    height: auto;
    overflow: hidden;
}
ol,ul{
    display: none;
}
.ice li{width: 308px;height: 222px;margin-right: 24px;border-radius: 6px;position: relative;}
.picbox li{
    width: 300px;
    height: 240px;
    background: #FFFFFF;
    float: left;
    margin-right: 22px;
    text-align: center;
    margin-bottom: 45px;
    transition: .5s;
    -moz-transition:  .5s;
    -webkit-transition:  .5s;
    -o-transition:  .5s;
}
a{
    color: #474443;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.ice li img{
    width: 300px;
    margin: 4px;
    height: 213px;
    transition: all .6s;
}
.ice li p{
    display: block;
    width: 291px;
    height: 31px;
    color: #505050;/**background:url(../images/tmms.png) no-repeat;**/
	position: absolute;
    bottom: 4px;
    left: 4px;
    line-height: 111px;
}